.myimg {
  width: 50%;

}

.profileDescription {
  padding: 10px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr ;
  grid-column-start: start;
}

.descriptionInfo {
  text-align: left;
  
}

.profileDescription img{
  padding: 10px;
  width: 200px;
  border: 1px solid
}

.img {
  width:50%
}

.descriptionItem {
  margin-top: 10px;
  font-weight: 800;
}

 .profileStatus {
  font-size: 36px;
}

.statusWrapper {
  margin-top: 15px ;
  border: 1px solid ;

}


