.appWrapper {
  margin: 0 auto;
  display: grid;
  
    grid-template-areas: 
    "h h" 
    "n c";
  grid-template-rows: 60xp 1fr;
  grid-template-columns: 2fr 10fr;
  
  
}

.appWrapperContent {
  padding: 5px 10px;
  background-color: aliceblue;
};






